body {
    background: rgb(36,40,59);
    font-family: "Monospace";
}
h1 {
  color: rgb(224,175,104);
}
h2 {
    color: rgb(122,162,247);
}
h3 {
    color: rgb(247,118,142);
}

p1 {
    color: rgb(207,201,194);
}

p2 {
    color: rgb(207,201,194);
}

p3 {
    color: rgb(207,201,194);
}

a:active {
    color: rgb(187,154,247);
}

a:hover {
    color: rgb(187,154,247);
}

a:visited {
    color: rgb(187,154,247);
}

a:link {
    color: rgb(187,154,247);
}